.actionBtn {
  font-size: 2em;
  cursor: pointer;
}
.snapshot {
  text-align: center;
  img {
    max-width: 800px;
    max-height: 800px;
  }
}
ul.links {
  padding-bottom: 20px;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

img {
  position: absolute;
  top: 0;
}
.btn1 {
  --background: #800080ff;
}
.btn2 {
  --background: #00ffffff;
}
.btn3 {
  --background: #ff0000ff;
}
.btn4 {
  --background: #008000ff;
}
.btn5 {
  --background: #00008b;
}
.btn6 {
  --background: #000000;
}
